:root {
  --main-title-color: #d41443;
  --secondary-title-color: #ffffff;
  --main-text-color: #000000;
  --secondary-text-color: #ffffff;
  --third-text-color: #907e82;
  --accent-color: #d41443;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: var(--main-text-color);
}
